
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4" *ngFor="let prd of prdList">
      <div class="card">
        <img [src]="prd.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{prd.name}}</h5>
          <p class="card-text">{{prd.price}}</p>
          <p class="card-text">{{prd.quantity}}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div> -->


